{% sw_extends '@Storefront/storefront/layout/navigation/navigation.html.twig' %}

{% block layout_main_navigation_menu_item %}
     {% if category.type == 'folder' %}
         <div class="nav-link main-navigation-link"
                 {% if treeItem.children|length > 0 %}
                     data-flyout-menu-trigger="{{ categorId }}"
                 {% endif %}
              title="{{ name }}">
             <div class="main-navigation-link-text">
                 <span itemprop="name">{{ name }}</span>
             </div>
         </div>
     {% else %}
         <a class="nav-link main-navigation-link{% if categorId is same as(page.header.navigation.active.id) %} active{% endif %} {% if treeItem.category.customFields.custom_category_hide_menu %}hide-mega-menu {% else %}show-mega-menu{% endif %}"
            href="{% if category.externalLink %}{{ category.externalLink }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: categorId }) }}{% endif %}"
            itemprop="url"
                 {% if treeItem.children|length > 0 %}
                     data-flyout-menu-trigger="{{ categorId }}"
                 {% endif %}
            title="{{ name }}">
             <div class="main-navigation-link-text">
                 <span itemprop="name">{{ name }}</span>
             </div>
         </a>
     {% endif %}
 {% endblock %}
