{% sw_extends '@Storefront/storefront/base.html.twig' %}
{% block base_content %}
    {{ parent() }}
    <form action="{{ path('frontend.pixup.wishlist.overview', {
        'wishlistId':wishlistId
    }) }}" method="GET" id="passwordForm" class="col-md-3">

        <div class="form-group">
            <label for="exampleInputEmail1">{{ "pixup-wishlist.wishlist-page.wishlist.password.enterPasswordLabel"|trans }}:</label>
            <input type="password" id="passwordField" class="form-control" aria-describedby="emailHelp" name="password">
            <small class="form-text text-muted">{{ "pixup-wishlist.wishlist-page.wishlist.password.enterPasswordDescription"|trans }}</small>
        </div>
        <button class="btn btn-primary" type="submit">{{ "pixup-wishlist.wishlist-page.wishlist.password.confirm"|trans }}</button>
    </form>
    <script>
        document.getElementById('passwordForm').addEventListener("submit", function(evt) {
            evt.preventDefault();
            url = "{{ path('frontend.pixup.wishlist.overview', {
                'wishlistId':wishlistId,
                'password':'--password--'
            }) }}";
            url = url.replace('--password--',document.getElementById('passwordField').value);
            document.getElementById('passwordField').remove();
            document.getElementById('passwordForm').action = url;
            document.getElementById('passwordForm').submit();
        });
    </script>
{% endblock %}
